[transmogrifier]
pipeline =
    catalogsource
    removeid
    constructor
    schema
    uid
    datafields
#    browser-default
    workflow-history
    properties
    permissions
    owner
    local_roles
    mimetype

[catalogsource]
blueprint = collective.jsonmigrator.catalogsource
remote-url = http://127.0.0.1:8080
remote-username = admin
remote-password = admin
catalog-path = /Plone/portal_catalog
catalog-query =
    {'path': {'query': '/Plone', 'depth': 2},
     'modified': {'query': '2007/01/01', 'range': 'min'}}

[removeid]
blueprint = collective.transmogrifier.sections.manipulator
delete = id

[constructor]
blueprint = collective.transmogrifier.sections.constructor

[schema]
blueprint = plone.app.transmogrifier.atschemaupdater

[uid]
blueprint = plone.app.transmogrifier.uidupdater

[browser-default]
blueprint = plone.app.transmogrifier.browserdefault

[datafields]
blueprint = collective.jsonmigrator.datafields

[workflow-history]
blueprint = collective.jsonmigrator.workflowhistory

[properties]
blueprint = collective.jsonmigrator.properties

[permissions]
blueprint = collective.jsonmigrator.permissions

[owner]
blueprint = collective.jsonmigrator.owner

[local_roles]
blueprint = collective.jsonmigrator.local_roles

[mimetype]
blueprint = collective.jsonmigrator.mimetype
