.coverage
.coverage.*
*.egg-info
*.log
*.mo
*.py?
*.swp
.*project
# dirs
bin/
buildout-cache/
develop-eggs/
eggs/
htmlcov/
include/
lib/
local/
node_modules/
parts/
dist/*
test.plone_addon/
var/
/docs/_build/
/sphinx-to-github/
.settings
# files
.installed.cfg
.mr.developer.cfg
lib64
log.html
output.xml
pip-selfcheck.json
report.html
.vscode/
.tox/
reports/
venv/
/pyvenv.cfg
local.cfg
/src/collective.transmogrifier*
/src/plone.app.transmogrifier*

