[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone43.cfg

index = https://pypi.org/simple/

[versions]

# Added by buildout at 2021-07-08 14:59:13.138083
createcoverage = 1.5
pathtools = 0.1.2
pkginfo = 1.7.0

# Required by:
# collective.jsonmigrator==1.0a1
collective.transmogrifier = 1.5.2

# Required by:
# zest.releaser==6.13.5
colorama = 0.4.4

# Required by:
# collective.jsonmigrator==1.0a1
plone.app.transmogrifier = 1.4.2
